#option-FullApiKey {
	width: 370px;
}
.dsidx-status
{
	font-weight: bold;
	text-transform: uppercase; 
}
.dsidx-success
{
	color: green;
}
.dsidx-failure
{
	color: red;
}

.dsidxpress-SitemapLocations{
	margin: 10px 10px;
	width: 600px;
}

.dsidxpress-up_down{
	background-image:url(../assets/222222_256x240_icons_icons.png);
	background-position:-128px -48px;
	background-repeat:no-repeat;
	display:block;
	overflow:hidden;
	text-indent:-99999px;
	height:16px;
	width:16px;
	margin: 4px auto;
}

.dsidxpress-SitemapLocations .dsidxpress-SitemapLocationsNew {
	padding: 6px 0;
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#EAF2FA none repeat scroll 0 0;
}

.dsidxpress-SitemapLocations li .arrow, .dsidxpress-SitemapLocations li .value{
	cursor: move;
}

.dsidxpress-SitemapLocations .arrow{
	width:70px;
	height: 24px;
	line-height:24px;
	text-align:center;
	float:left;
}

.dsidxpress-SitemapLocations .value{
	width: 370px;
	height: 24px;
	line-height:24px;
	float:left;
}

.dsidxpress-SitemapLocations .value input{
	width: 190px;	
}

.dsidxpress-SitemapLocations .type{
	width: 150px;
	height: 24px;
	line-height:24px;
	float:left;
}

.dsidxpress-SitemapLocations .type select{
	width: 144px;	
	margin: 0px;
}

.dsidxpress-SitemapLocations .action{
	width: 80px;
	height: 24px;
	line-height:24px;
	float:left;
	text-align:center;
}

#dsidxpress-SitemapLocations li{
	margin: 0;
	padding: 6px 0 6px 0;
	background-color:white;
}